.custom-menu-width {
  --width: 250px; /* Adjust the width as needed */
}
.custom-menu-height {
    --height: 10px; 
  }

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto; 
  
}
